.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.timerWrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #fff;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}
